.header {
    height: 80px;
    background: #0078b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.logo{
    width: 100px;
    transform: rotate(260deg);
    cursor: pointer;
}

.header-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}